body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #000;
}

h1 {
    color: #fff;
    text-decoration: underline;
}

button{
    margin: 10px;
    background: #fff;
    font-size: 1.1em;
    padding: 6px;
    border: none;
    border-radius: 5px;
}
button:hover {
    cursor:pointer;

}

.container {
    display: grid;
    grid-gap: 0px; /* Ensure no gap between items */
    box-sizing: border-box; /* Ensures padding/border don't affect container size */
}

.item {
    width: 30px; /* Fixed size for each item */
    height: 30px; /* Fixed size for each item */
    border: 1px solid black; /* Border for visibility */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
.item:hover {
    background-color: #96d0e4;
}
*/
